a:link {
  text-decoration: none;
  color: white;
  margin-left: 20px;
}

.nav {
  list-style: none;
  color: white;
  display: flex;
  align-items: center;
}

.nav-link-active {
  color: #e28665;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #ffec1f;
}
